/* ปิด hover ทุกแถวในตารางคอร์ส */
.course-table .ant-table-tbody > tr:hover > td {
  background: inherit !important;
}

/* พื้นหลังแถวสรุป */
.course-table .summary-row td {
  background-color: #e3e3e3ff !important;
  font-weight: bold;
}

.summary-row {
  background-color: #e3e3e3; /* สีปกติ */
}

.summary-row:hover td {
  background-color: #e3e3e3 !important; /* ปิด hover */
}

/* ทำให้มุมล่างซ้าย-ขวาของแถวสรุปโค้ง */
.course-table .summary-row td:first-child {
  border-bottom-left-radius: 8px;
}
.course-table .summary-row td:last-child {
  border-bottom-right-radius: 8px;
}

/* ทำให้ตารางทั้งตารางเป็นการ์ด */
.ant-table-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
